<% layout('/layouts/boilerplate') %>

<section class="py-6">
  <div
    class="container bg-light min-vh-50 py-6 d-flex justify-content-center align-items-center"
    style="max-width: 1920px"
  >
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="fw-bold display-1">404</h1>
          </div>
        </div>
        <div class="lc-block">
          <div editable="rich">
            <p class="h2">
              You are not authorized to access this page. please contact the
              page owner.
            </p>
            <p class="lead">
              Click the button below to go back to the homepage
            </p>
          </div>
        </div>
        <div class="lc-block">
          <a class="btn btn-primary" href="/" role="button">Go to Homepage</a>
        </div>
        <div class="lc-block">
          <a
            class="btn btn-primary"
            href="/https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"
            role="button"
            >LindkIn</a
          >
        </div>
        <!-- /lc-block -->
      </div>
      <!-- /col -->
    </div>
  </div>
</section>
